#sitePage {
    position: relative;
    width: 100%;

    .page-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        height: $height-cover;
        
        background-attachment: fixed;

        .page-head {
            display: inline-block;
            text-align: center;
            color: $color-text;

            .page-title {
                @include relative-font-size(3);
                padding: 5px 10px;
                display: inline-block;
                border-bottom: 2px solid $color-text;
            }

            .page-description {
                @include relative-font-size(1.2);
                padding-bottom: 30px;
                margin: 0;
            }
        }
    }

    .wrapper {
        #siteContent {
            padding: 3em 0;
        }
    }
}