/* NanumGothic */
@font-face {
    font-family: 'NanumGothic';
    src: url(/assets/fonts/NanumFont/NanumGothicLight.ttf) format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'NanumGothic';
    src: url(/assets/fonts/NanumFont/NanumGothic.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'NanumGothic';
    src: url(/assets/fonts/NanumFont/NanumGothicBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'NanumGothic';
    src: url(/assets/fonts/NanumFont/NanumGothicExtraBold.ttf) format('truetype');
    font-weight: 700;
}

/* NanumBarunGothic */
@font-face {
    font-family: 'NanumBarunGothic';
    src: url(/assets/fonts/NanumFont/NanumBarunGothicUltraLight.ttf) format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url(/assets/fonts/NanumFont/NanumBarunGothicLight.ttf) format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url(/assets/fonts/NanumFont/NanumBarunGothic.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url(/assets/fonts/NanumFont/NanumBarunGothicBold.ttf) format('truetype');
    font-weight: 700;
}

/* NanumBarunpen */
@font-face {
    font-family: 'NanumBarunpen';
    src: url(/assets/fonts/NanumFont/NanumBarunpenR.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumBarunpen';
    src: url(/assets/fonts/NanumFont/NanumBarunpenB.ttf) format('truetype');
    font-weight: 700;
}